Source: ros-groovy-pocketsphinx
Section: misc
Priority: extra
Maintainer: Michael Ferguson <mike@vanadiumlabs.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://ros.org/wiki/pocketsphinx
Standards-Version: 3.9.2

Package: ros-groovy-pocketsphinx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-pocketsphinx, ros-groovy-geometry-msgs, ros-groovy-rospy, ros-groovy-std-msgs, ros-groovy-std-srvs
Description: This package is a simple wrapper around the pocketsphinx speech recognizer, using gstreamer and a Python-based interface.
