Source: ros-indigo-pocketsphinx
Section: misc
Priority: extra
Maintainer: Michael Ferguson <mike@vanadiumlabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/pocketsphinx
Standards-Version: 3.9.2

Package: ros-indigo-pocketsphinx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-pocketsphinx, ros-indigo-geometry-msgs, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-std-srvs
Description: This package is a simple wrapper around the pocketsphinx speech recognizer, using gstreamer and a Python-based interface.
