Source: ros-hydro-pocketsphinx
Section: misc
Priority: extra
Maintainer: Michael Ferguson <mike@vanadiumlabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/pocketsphinx
Standards-Version: 3.9.2

Package: ros-hydro-pocketsphinx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-pocketsphinx, python-gst0.10, ros-hydro-geometry-msgs, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-std-srvs
Description: This package is a simple wrapper around the pocketsphinx speech recognizer, using gstreamer and a Python-based interface.
